@{
    ViewData["Title"] = "About author";
}

<h1>@ViewData["Title"]</h1>

<div class="card text-center" style="max-width: 18rem;">
    <div class="card-header-new bg-primary p-3 text-white ">Made by</div>
    <div class="card-body bg-secondary p3 text-white-50">
        <h5 class="card-title">Mateusz Pogorzelski</h5>
        <p class="card-text">mateusz.pogorzelski8@wp.pl</p>
    </div>
</div>




















